
/*site bar css end form here*/

img.adminPJSImg{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}


/*hsc contant css end form here*/

.notfundImgDiv img {width: 100%;height: 516px;}

.notfundImgDiv {
    text-align: center;
}

/*td css start form here*/
i.editButton.fa.fa-edit {
    font-size: 25px;
    font-weight: bold;
    color: #001fff;
    cursor: pointer;
    padding-top: 10px;
}

i.deleteButton.fa.fa-trash {
    font-size: 25px;
    font-weight: bold;
    color: #ef0f0f;
    cursor: pointer;
    padding-top: 10px;
}
td.editTd {
    text-align: center;
    background: #a6f97b;
    border-radius: 8px;
}

td.deleteTd {
    text-align: center;
    background: #af41cb;
    border-radius: 8px;
}
.UpdateShowImg {
    text-align: center;
}

.UpdateShowImg img {
    width: 100px;
    height: 100px;
}
/*td css end form here*/
