header {
  background: #98bd98;
  color: #ffeded;
  padding: 10px;
  font-weight: bold;
  text-shadow: 4px 3px 2px black;
}

.headerTitle img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.headerTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.headerTitle h4 {
  padding-left: 10px;
}



.loginDiv {
    width: 500px;
    height: 400px;
    margin: auto;
    border: 2px solid greenyellow;
}

table {
    text-align: center;
    margin: auto;
}

h4.loginTitle {
    background: #949dff;
    padding: 22px;
    border-bottom: 1px solid #c5c5c5;
    color: white;
    font-weight: bold;
    font-family: auto;
    text-align: center;
}

button.form-control {
    font-size: 20px;
    font-weight: bold;
    color: #ede0e0;
    background: #abbeff;
}

section.loginSection {
    background: #78bbb845;
}


ul.socialNab li {
    display: inline-block;
    font-size: 40px;
}

ul.socialNab {}

ul.socialNab li a i {
    color: #afa5ff;
}

footer {
  background: #464446;
  color: #ffeded;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  text-shadow: 4px 3px 2px black;
}
